body {
    top: 0;
    overflow: hidden;
    left: 0;
    background-color: rgb(27, 27, 65);
}

img {
    z-index: 1;
}

.after-nav {
    /* border: 2px solid white; */
    display: flex;
}

.after-nav>div {
    /* border: 2px solid white; */
    height: 85vh;

    overflow: scroll;
}

.after-nav>div::-webkit-scrollbar {
    display: none;
}

nav {
    /* border: 2px solid white; */
    color: white;
    list-style-type: none;
    display: flex;
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: flex-start; */
    height: 6%;
}

#music-bell {}

.nav-start {
    /* border: 2px solid yellow; */
    width: auto;
    justify-content: space-evenly;
}

#ninja-studio {
    /* border: 2px solid cyan;   */
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 5rem;
    margin-left: 1em;
}

#search {
    background-color: #32325f;
    color: gray;
    text-align: center;
    width: 250px;
}

#one {
    font-weight: lighter;
}

#two {
    font-weight: bolder;
}

.shadow {
    box-shadow: 2px 2px 5px 2px rgba(53, 49, 89, 0.8);
}

.nav-end {
    width: 400px;
    margin: auto 0rem auto 0px;
    height: 2rem;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    display: flex;
    margin-left: 45rem;
}

.nav-profile img {
    border-radius: 50%;
    width: 130%;
}

.nav-start ul {
    list-style-type: none;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    margin: auto;
}

#favorite {
    margin-top: 0.5rem;
}

li a {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bell {
    margin-top: 1rem;
}

/* .after-nav{
    border: 2px solid white;
} */
/* =================================================================================================== */
/* MAIN IMAGES AND MAIN WINDOW */
.main {
    width: 70%;
    /* height: 100vh; */
    /* border: 2px solid white; */
    /* display: flex; */
    height: 35%;
    /* overflow: scroll; */
    /* justify-content: space-around; */
}

.main-images {
    display: flex;
    /* border: 2px solid salmon; */
    height: auto;
    justify-content: space-around;
}

.main-images:hover {
    /* opacity: 0.7; */

}

.img-one:hover,
.img-two:hover,
.img-three:hover {
    transform: scale(1.2);
    opacity: 0.9 !important;
}

.img-one img,
.img-two img,
.img-three img {
    height: 250px;
    margin: 1em;
}

/* ================================================================================================== */
/* STYLE FOR LATEST RELASE PART */

.latest-released {
    margin-top: 0px;
    height: 300px;
    padding-bottom: 4rem;
    /* border: 2px solid white; */
}

.latest-released p {
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-left: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inner-latest {
    /* border: 2px solid yellow; */
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.latest-song {
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid seashell; */
}

.latest-song-img {
    /* border: 2px solid cyan; */
    width: 35%;
    margin: auto;
}

.kpop-img:hover {
    opacity: 0.7;
}

.latest-song-info {
    display: flex;
    height: 80px;
    width: auto;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-around; */
    color: white;
    /* border: 2px solid greenyellow; */
    /* height: 20px; */
    text-align: center;
}

.latest-song-info span {
    height: 1rem;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid yellowgreen; */
    width: 7rem;
}

.font-bold {
    font-weight: bolder;
    font-size: 1.5em;
}

.font-gray {
    font-size: 0.8em;
    color: gray;
}

/* ============================================================================================== */

/* POPULAR ARTIST  */

.popular-artist {
    /* border: 2px solid white; */
}

.popular-artist p {
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-left: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popular-img {
    /* border: 2px solid white; */
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.artists {
    height: inherit;
    display: flex;
    flex-direction: column;
}

.artists a img {
    height: 7em;
    border-radius: 50%;
}

.artists span {
    font-size: 0.9em;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
}

/* ====================================================================================== */
/* STATION PART IS HERE */
.stations {
    background-color: rgb(27, 27, 80);
    margin-left: 1rem;
    height: 10rem;
    width: auto;
    /* border: 2px solid white; */
}

.shuffle {
    height: 8rem;
    width: 20%;
}

.shuffle img {
    margin: 1rem 0rem 0rem 1rem;
    border-radius: 10%;
    height: inherit;
}

.station-img {
    display: flex;
    width: 80%;
    margin-top: 2rem;
    justify-content: space-around;
    /* border: 2px solid white; */
}

.station-img img {
    border-radius: 50%;
    opacity: 0.6;
    height: 6rem;
}

.station-part {
    display: flex;
}

/* ======================================================================================================== */
/* CSS FOR AFTER STATION SECTION  */

.after-station {
    display: flex;
    margin-left: 1rem;
    margin-top: 3rem;
    justify-content: space-around;
    height: 10rem;
    /* border: 2px solid white; */
}

.after-station-img {
    /* border: 2px solid white; */
    width: 30%;
    color: white;
    text-align: center;
    overflow: hidden;
}

.after-station-img p {
    /* z-index: 10; */
    margin-top: 4rem;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 3px black;
}

.after-station-img:hover {
    transform: scale(1.1);
}

.af-img-one {
    /* opacity: 0.5; */
    background-image: url(/Party-img.jpeg);
}

.af-img-two {
    /* opacity: 0.5; */
    backdrop-filter: opacity(20%);
    background-image: url(/Electronic-dj-img.jfif);
    background-size: contain;
}

.af-img-three {
    /* opacity: 0.5; */
    background-image: url(/road-trip.jpeg);
    background-size: contain;
    backdrop-filter: opacity(50%);

}

/* ============================================================================================= */
/* LATEST ENGLISH & HINDI SONG  */
.latest-hindi {
    display: flex;
    margin-left: 1rem;
    /* margin-top: 2rem; */
    flex-direction: column;
}

.latest-english {
    /* border: 2px solid white; */
    display: flex;
    margin-left: 1rem;
    margin-top: 2rem;
    flex-direction: column;
}

.latest-english p,
.latest-hindi p {
    color: white;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1rem;
}

.inner-latest-english {
    display: flex;
    justify-content: space-around;
}

.latest-english-img img {
    height: 8rem;
}

.latest-english-img {
    display: flex;
    font-weight: lighter;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
}

/* ========================================================================================= */
/* CSS FOR ASIDE */

.aside {
    /* border: 2px solid white; */
    width: 30%;
    height: 100vh;
    overflow: scroll;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    /* position: absolute; */
    /* right: 0; */
    /* visibility: hidden; */
}

.aside::-webkit-scrollbar {
    display: none;
}

.aside-heading {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    /* border: 2px solid yellow; */
}

.aside-heading-span {
    color: white;
    font-size: 1rem;
}

.aside-songs {
    /* border: 2px solid red; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.aside-song-number {
    /* border: 2px solid yellow; */
    height: 3rem;
    width: 3rem;
    /* text-align: center; */
    color: white;
}

.aside-song-number h5 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0.8rem;
}

.aside-song-img {
    /* border: 2px solid pink; */
    height: 2.5rem;
}

.aside-song-img img {
    height: inherit;
}

.aside-song-name {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0.3rem;
    width: 14rem;
}

.aside-song-name span {
    margin-left: 1rem;
    /* border: 2px solid gray; */
}

.aside-song-heart {
    /* border: 2px solid yellowgreen; */
    width: 3rem;
    color: white;
    font-size: 1.3em;
    text-align: center;
    margin-top: 0.8rem;
}

.aside-song-heart:hover {
    color: red;
    transform: scale(1.2);
}

/* ========================================================================================================================= */
/* CSS FOR THE FOOTER  */
/* Footer section starts here*/
/* this is the container for the whole footer */
footer {
	position: absolute;
	bottom: 1px;
    color: white;
	width: 100%;
	height: 60px;
	background-color: #3e3e3e;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}
/* footer is divided into 3 parts */
/* 1. first part of the footer */
.active-song-description {
	/* border:1px solid white; */
    color: white;
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/* the current song which is being played, this is the image container for that. */
#song-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
}
/* current song image */
#song-image img {
	width: 100%;
	height: 100%;
}
/* heart and ban icon */
.heart-and-ban-icon {
	height: 100%;
	padding-top: 4%;
}
/* song decscription */
.song-desc {
	margin-right: 1%;
	margin-left: 1%;
}
/* song name */
.song-desc div:nth-child(1) {
	font-size: 14px;
}
/* song author */
.song-desc div:nth-child(2) {
	font-size: 12px;
}

/* 2. Second part of the footer*/
.player {
    color: white;
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
/* controls is the container for all the center controls of the player */
.controls {
    color: white;
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
/* this is the song-duration slider */
#slider {
    color: white;
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
/* ////////// */
.time {
	margin: 0px 10px;
}

/* adjusting the slider for better visuals */
.slidecontainer {
	width: 100%;
}
/* for audio and main center player */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
/* hover effect for the slider */
.slider:hover {
	opacity: 1;
}
/* these are for adjusting the dimensions and default styling of the long-slider */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}
/* this is the circular thumb, which can be moved across the div */
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

/* third part of the footer */
/* this contains the extra icons and slider for volume */
/* this is also a container */
.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/* ////////////////////////////////////////////////////////////////////////////// */
/* DROPDOWN MENU */
#lightbox {
    color: black;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    position: fixed;
    overflow: hidden;
    transition: 2ms ease-in-out;
}

#lightbox p {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

#lightbox a {
    margin-left: 10rem;
}

.icon {
    color: white;
}

#lightbox .dots {
    color: black;
}

#lightbox:target {
    height: 25%;
    width: 15%;
    background-color: snow;
    top: 50%;
    left: 40%;
    transition: 2ms ease-in-out;
}

/* ======================================================================================= */
/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    .nav-end {
        opacity: 0;
    }

    nav {
        width: 100%;
    }

    .main-images {
        overflow-x: scroll;
    }

    .after-nav {
        flex-direction: column;
    }

    .main {
        width: 100%;
    }

    body {
        height: auto;
    }

    bottom {
        opacity: 0;
    }

    .popular-artist {
        overflow-x: scroll;
        margin-top: 2rem;
    }

    .latest-released {
        overflow-y: scroll;
    }

    .shuffle img {
        opacity: 0;
    }

    .station-img {
        overflow-x: scroll;
    }

    .station-part {
        width: 100%;
        overflow-x: scroll;
    }

    .after-station {
        overflow-x: scroll;
    }

    .inner-latest-english {
        overflow-x: scroll;
    }

}